@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

:root {
  --primary-100: #ff6cbf;
  --primary-300: #cc187e;
  --primary-500: #55163a;
}

body {
  background-color: #161128;
}

h2 {
  color: white;
  font-weight: bold;
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
  font-size: 18px;
}

@property --color-1 {
  syntax: '<color>';
  inherits: true;
  initial-value: #fff;
}

@property --color-2 {
  syntax: '<color>';
  inherits: true;
  initial-value: #fff;
}

.slick-button {
  --color-1: #e0218c;
  --color-2: #eaa221;
  background-image: linear-gradient(40deg, var(--color-1), var(--color-2));

  animation: 4s slick infinite;
}

@keyframes slick {
  0% {
    --color-1: #e0218c;
    --color-2: #eaa221;
  }
  50% {
    --color-1: #eaa221;
    --color-2: #e0218c;
  }
  100% {
    --color-1: #e0218c;
    --color-2: #eaa221;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* remove TouchMobile */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* remove TouchMobile */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.animate-rotation {
  animation: 4s rotation linear infinite forwards;
}

@keyframes rotation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgb(221, 255, 188);
  border-top-color: #333;
  border-bottom-color: #333;
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    border: 5px solid #e0218c;
    border-top-color: #333;
    border-left-color: #333;
  }

  50% {
    border: 5px solid #eaa221;
    border-top-color: #333;
    border-left-color: #333;
  }

  to {
    rotate: 360deg;
    border: 5px solid #e0218c;
    border-top-color: #333;
    border-left-color: #333;
  }
}

.description {
  color: #787878;
  font-size: 13px;
}

/* SELECTION */
::selection {
  color: white;
  background: #ff40ac30;
}

/* Scrollbar */
::-webkit-scrollbar {
  background-color: #3b1029;
  width: 14px;
}
::-webkit-scrollbar-thumb {
  background-color: #e0218c;
  border: 3.2px solid #3b1029;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #f632a1;
}

.animate-rotate{
  animation: 30s rotation linear infinite forwards;
}
